@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-pharma-teal text-pharma-blue rounded-lg font-medium hover:bg-pharma-teal/90 transition-colors;
  }
  
  .loading {
    @apply inline-block w-12 h-12 border-4 border-pharma-blue/30 border-t-pharma-blue rounded-full animate-spin;
  }
}